In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Load and organize books data
books = pd.read_json('data_raw\goodreads_books_comics_graphic.json', lines=True)

In [3]:
books.head()

,isbn,text_reviews_count,series,country_code,language_code,popular_shelves,asin,is_ebook,average_rating,kindle_asin,...,publication_month,edition_information,publication_year,url,image_url,book_id,ratings_count,work_id,title,title_without_series
0,,1,[],US,,"[{'count': '228', 'name': 'to-read'}, {'count'...",B00NLXQ534,true,4.12,,...,,,,https://www.goodreads.com/book/show/25742454-t...,https://s.gr-assets.com/assets/nophoto/book/11...,25742454,1,42749946,The Switchblade Mamma,The Switchblade Mamma
1,2205073346,2,[],US,fre,"[{'count': '2', 'name': 'bd'}, {'count': '2', ...",,false,3.94,,...,1,,2016,https://www.goodreads.com/book/show/30128855-c...,https://images.gr-assets.com/books/1462644346m...,30128855,16,50558228,Cruelle,Cruelle
2,,5,"[246830, 362583, 362581, 623032]",US,eng,"[{'count': '493', 'name': 'to-read'}, {'count'...",,false,4.28,,...,,,2012,https://www.goodreads.com/book/show/13571772-c...,https://images.gr-assets.com/books/1333287305m...,13571772,51,102217,Captain America: Winter Soldier (The Ultimate ...,Captain America: Winter Soldier (The Ultimate ...
3,,1,[],US,eng,"[{'count': '222', 'name': 'to-read'}, {'count'...",B06XKGGSB7,true,4.05,B06XKGGSB7,...,,,,https://www.goodreads.com/book/show/35452242-b...,https://s.gr-assets.com/assets/nophoto/book/11...,35452242,6,54276229,Bounty Hunter 4/3: My Life in Combat from Mari...,Bounty Hunter 4/3: My Life in Combat from Mari...
4,0930289765,6,"[266759, 1096220]",US,en-US,"[{'count': '20', 'name': 'to-read'}, {'count':...",,false,4.06,,...,11,,1997,https://www.goodreads.com/book/show/707611.Sup...,https://images.gr-assets.com/books/1307838888m...,707611,51,693886,"Superman Archives, Vol. 2","Superman Archives, Vol. 2"

In [4]:
books.shape

(89411, 29)

In [5]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89411 entries, 0 to 89410
Data columns (total 29 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   isbn                  89411 non-null  object
 1   text_reviews_count    89411 non-null  int64
 2   series                89411 non-null  object
 3   country_code          89411 non-null  object
 4   language_code         89411 non-null  object
 5   popular_shelves       89411 non-null  object
 6   asin                  89411 non-null  object
 7   is_ebook              89411 non-null  object
 8   average_rating        89411 non-null  float64
 9   kindle_asin           89411 non-null  object
 10  similar_books         89411 non-null  object
 11  description           89411 non-null  object
 12  format                89411 non-null  object
 13  link                  89411 non-null  object
 14  authors               89411 non-null  object
 15  publisher             89411 non-null  object
 16  num_pages             89411 non-null  object
 17  publication_day       89411 non-null  object
 18  isbn13                89411 non-null  object
 19  publication_month     89411 non-null  object
 20  edition_information   89411 non-null  object
 21  publication_year      89411 non-null  object
 22  url                   89411 non-null  object
 23  image_url             89411 non-null  object
 24  book_id               89411 non-null  int64
 25  ratings_count         89411 non-null  int64
 26  work_id               89411 non-null  int64
 27  title                 89411 non-null  object
 28  title_without_series  89411 non-null  object
dtypes: float64(1), int64(4), object(24)
memory usage: 19.8+ MB

In [6]:
# What languages are there?
books.language_code.unique()

array(['', 'fre', 'eng', 'en-US', 'kor', 'jpn', 'spa', 'zho', 'ita',
       'en-GB', 'nor', 'ind', 'cze', 'ben', 'swe', 'ger', 'nl', 'por',
       'en-CA', 'gre', 'fin', 'rum', 'bos', 'msa', 'tur', 'per', 'pol',
       'vie', 'hin', 'mul', 'dan', 'scr', 'tha', 'fil', 'rus', 'bul',
       'srp', 'ara', 'nno', 'lav', 'heb', 'pes', 'cat', 'tgl', 'hun',
       'nob', 'est', '--', 'ach', 'kat', 'ira', 'ukr', 'inh', 'slv',
       'lit', 'sco', 'tel', 'slo', 'vai', 'eus', 'abk', 'ine', 'isl',
       'glg', 'nld', 'wak', 'iku', 'fiu', 'aze', 'afr', 'dut', 'en'],
      dtype=object)

In [7]:
# Keep only the books in english
books = books[books['language_code'].isin(['eng','en-US','en-GB','en-CA'])]

# Now that only english, what different countries are there?
print(books.country_code.unique())

['US']

In [8]:
books.shape

(33925, 29)

<b>Notes on columns:</b>
There are a bunch of columns that are unnecessary:
* isbn/asin columns: these are forms of identification. will use book_id as identifier as that's what is used in columns like 'series' and 'smiliar_books'
* publication month/day: seems like overkill to go down to this level of detail with publication date. publication year may be relevant...example if someone likes a lot of recent ones
* link/url/image_url: don't need images
* language_code: don't need this anymore
* country_code: these are all "US" so no value in keeping

In [9]:
books = books.drop(['isbn','language_code','asin','kindle_asin','work_id','image_url','link',
                    'url','isbn13', 'publication_month','publication_day','country_code'],axis=1)

In [10]:
books.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33925 entries, 2 to 89410
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   text_reviews_count    33925 non-null  int64
 1   series                33925 non-null  object
 2   popular_shelves       33925 non-null  object
 3   is_ebook              33925 non-null  object
 4   average_rating        33925 non-null  float64
 5   similar_books         33925 non-null  object
 6   description           33925 non-null  object
 7   format                33925 non-null  object
 8   authors               33925 non-null  object
 9   publisher             33925 non-null  object
 10  num_pages             33925 non-null  object
 11  edition_information   33925 non-null  object
 12  publication_year      33925 non-null  object
 13  book_id               33925 non-null  int64
 14  ratings_count         33925 non-null  int64
 15  title                 33925 non-null  object
 16  title_without_series  33925 non-null  object
dtypes: float64(1), int64(3), object(13)
memory usage: 4.7+ MB

<b>Columns for further exploration:</b>
For these columns it isn't exactly clear whether they're helpful to our purposes or not. Need to get a better understanding of them:
* 'book_id' seems like it would make a good index
* 'publisher' could this be relevant?
* 'edition_information' could this be relevant?
* 'is_ebook' seems like it could be combined easily with 'format'
* check 'title' and 'title_without_series' - could these be broken into 'title' and 'series'? if so, is series irrelevent given there is a separate 'series' column that list other books in the series?
* 'authors'needs further exploration
* 'series' not quite sure how this ties to other books
* 'popular_shelves' needs further exploration

In [11]:
# set 'book_id' as index
books.set_index('book_id',inplace=True)

In [12]:
# publisher column
print(books.publisher.unique())
print(books.publisher.value_counts())

['Hachette Partworks Ltd.' '' 'DC Comics' ...
 'Henry Holt and Company, Inc.' 'Crabtree Publishing Company' 'Vintage']
                                             7373
Marvel                                       3017
DC Comics                                    2984
VIZ Media LLC                                1942
Image Comics                                 1750
                                             ...
Beyond Reality Media                            1
National Geographic Children's Books            1
Phoenix Art Museum with Drawn & Quarterly       1
Poison Press                                    1
Schocken Books                                  1
Name: publisher, Length: 2849, dtype: int64

Publisher seems like it could potentially be relevant at first glance. If someone likes a lot of Marvel comics, for example, they would likely be more inclined to like another Marvel comic in the future.

But this information is probably encapsulated better at the title level - i.e. the fact that someone likes a Marvel Captain America comic could be gathered in more detail by the title "Captain America" rather than the publisher "Marvel"

In [13]:
books.drop('publisher',axis=1, inplace=True)

In [14]:
# edition_information
books.edition_information.value_counts()

                                                         30589
Trade                                                      487
Premiere                                                   218
First                                                      180
Deluxe Edition                                             173
                                                         ...
Omnibus Issue                                                1
Berkley First                                                1
Free Bonus eBook - additional to The Smashing Book #2        1
FANSADOX COLLECTION 405                                      1
First printed edition                                        1
Name: edition_information, Length: 714, dtype: int64

'edition_information' is mostly blank. The remainder are frequently one-offs as well.

In [15]:
books.drop('edition_information',axis=1, inplace=True)

In [16]:
# Examine 'is_ebook' and 'format' - they're giving the same information. 
# Is that information necessary to keep? If so, how can we combine?
print(books.is_ebook.value_counts())
print(books.format.value_counts())

false    27960
true      5965
Name: is_ebook, dtype: int64
Paperback                                17789
                                          8370
Hardcover                                 4834
ebook                                     1191
Kindle Edition                             650
                                         ...
Kindle Edition, with panel zoom              1
Web Comic/ Manhua                            1
The Walking Dead - Single Issues #146        1
Digital comic                                1
The Walking Dead - Single Issues #143        1
Name: format, Length: 147, dtype: int64

In [17]:
books.format.unique()

array(['Hardcover', '', 'Paperback', 'Kindle Edition', 'ebook',
       'Comic Book', 'Comic', 'Digital Comic', 'Unknown Binding',
       'Mass Market Paperback', 'Nook', 'Library Binding', 'Webtoon',
       'Comics', 'Book', 'Audible Audio', 'Hardcover with dust jacket',
       'Custom Handmade Binding', 'Spiral-bound', 'free manga scanlation',
       'Trade Paperback', 'FC', 'Slipcased Hardcover', 'Online',
       'webtoon', 'Board book', 'Paperback Manga', 'Unbound',
       'Single Issue', 'comic', 'paperback', 'One-Shot Comic',
       'Graphic Novels', 'Comixology Edition', 'Digital', 'Comic book',
       'The Walking Dead - Single Issues #146', 'Over-sized Soft-cover',
       'Audiobook', 'Paperback - Manga', 'Issue', 'Flexiback', 'Audio CD',
       'The Walking Dead - Single Issues #135', 'Graphic Novel',
       'Webcomic/Manhua', 'Print Comic', 'Online Comic', 'PDF',
       'Magazine', 'CD-ROM', 'staple-bound', 'Webcomic', 'Prestige',
       'Leather Bound', 'The Walking Dead - Single Issues #144',
       'Softcover', 'Trade Paperback Graphic Novel', 'Tabloid',
       'Board Book', 'digital', 'Slipcased hardcover (1-3)',
       'trade paperback',
       'Hand-bound Art Portfolio w/7&quot; Vinyl Record',
       'Kindle Graphic Novel', 'Graphic', 'saddle stitch', 'Trade Cloth',
       'Manga Online', 'Comic Book Issue', 'Digital comic', 'hardcover',
       'Digital Comic Book', 'comic book', 'Box Set',
       'The Walking Dead - Single Issues #143', 'Graphic novel',
       'PDF DIGITAL EDITION', 'mini-paperback', 'online comic',
       'Cardstock', 'Saddle-stitched',
       'The Walking Dead - Single Issues #137', 'Soft Cover',
       'Serial Comic', '13&quot; by 10&quot; softcover',
       'Single Issue Comicbook', 'A4 Softcover', 'comic books',
       'The Walking Dead - Single Issues #134', 'Online Comic - Webcomic',
       'Comixology', 'collection', 'TPB', 'Graphic Anthology',
       'Comixology Guided View', 'Pamphlet', "artist's book",
       'graphic novel', 'Broche', 'Prestige One-Shot',
       'Slipcase Hardcover', 'Hardcover Comic', 'Web Comic/ Manhua',
       'Paperback graphic novel', 'Saddle stitched', 'online Comic Book',
       'Horror Comic', 'Comicbook', 'Kindle Edition, with panel zoom',
       'Yaoi', 'The Walking Dead - Single Issues #141', 'Grapic Novel',
       'Deluxe Softcover', 'The Walking Dead - Single Issues #136',
       'Trade Paperback - hardback',
       'The Walking Dead - Single Issues #140',
       'The Walking Dead - Single Issues #139',
       'Oversized Slipcased Hardcover', 'zine', 'Comic Trade Paperback',
       'Zine', 'Manga', 'Novelty Book', 'Motion Book', 'issue',
       'Squarebound', 'Webcomics', 'web', 'Single issue comic',
       'deluxe comic', 'The Walking Dead - Single Issues #142',
       'Graphic Novel Paperback', 'Online Manga Series', 'GRAPHIC NOVEL',
       'Web Comic', 'Graphic novel issue', 'Online eBook',
       'online graphic novel - complete', 'Boxed Set', 'Audio',
       'The Walking Dead - Single Issues #138', 'manga',
       '(The Walking Dead - Single Issues #132)',
       'Graphic Novel Trade Hardcover', 'GraphicAudio', 'manhwa'],
      dtype=object)

In [18]:
books.drop(['is_ebook','format'], axis=1, inplace=True)

In [19]:
books.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33925 entries, 13571772 to 23363286
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   text_reviews_count    33925 non-null  int64
 1   series                33925 non-null  object
 2   popular_shelves       33925 non-null  object
 3   average_rating        33925 non-null  float64
 4   similar_books         33925 non-null  object
 5   description           33925 non-null  object
 6   authors               33925 non-null  object
 7   num_pages             33925 non-null  object
 8   publication_year      33925 non-null  object
 9   ratings_count         33925 non-null  int64
 10  title                 33925 non-null  object
 11  title_without_series  33925 non-null  object
dtypes: float64(1), int64(2), object(9)
memory usage: 3.4+ MB

<b>Title columns:</b>
What's the difference between title and title with series? There is also a separate series column. Does that encapsulate any add'l info in the title with series column?

In [20]:
books.head()

,text_reviews_count,series,popular_shelves,average_rating,similar_books,description,authors,num_pages,publication_year,ratings_count,title,title_without_series
book_id,,,,,,,,,,,,
13571772,5,"[246830, 362583, 362581, 623032]","[{'count': '493', 'name': 'to-read'}, {'count'...",4.28,"[13590139, 105963, 207585, 10503130, 4645370, ...",The questions plaguing Captain America's dream...,"[{'author_id': '37450', 'role': ''}]",146,2012,51,Captain America: Winter Soldier (The Ultimate ...,Captain America: Winter Soldier (The Ultimate ...
35452242,1,[],"[{'count': '222', 'name': 'to-read'}, {'count'...",4.05,[],The fight for Jason Delgado's life and soul be...,"[{'author_id': '16209952', 'role': ''}, {'auth...",,,6,Bounty Hunter 4/3: My Life in Combat from Mari...,Bounty Hunter 4/3: My Life in Combat from Mari...
707611,6,"[266759, 1096220]","[{'count': '20', 'name': 'to-read'}, {'count':...",4.06,[],These are the stories that catapulted Superman...,"[{'author_id': '81563', 'role': ''}, {'author_...",272,1997,51,"Superman Archives, Vol. 2","Superman Archives, Vol. 2"
27036536,9,[834955],"[{'count': '47', 'name': 'to-read'}, {'count':...",4.15,[],PRODUCT DESCRIPTION: The first new volume of G...,"[{'author_id': '14965', 'role': ''}, {'author_...",224,2016,39,"War Stories, Volume 3","War Stories, Volume 3"
11827783,26,[774390],"[{'count': '104', 'name': 'to-read'}, {'count'...",3.16,"[6651573, 8835785, 15060759, 9466897, 8423991,...",Sir Arthur Conan Doyle's dauntless detective r...,"[{'author_id': '61231', 'role': ''}, {'author_...",144,2011,114,Sherlock Holmes: Year One,Sherlock Holmes: Year One

Based on the first 5 rows they seem identical. Let's look at a bigger sample.

In [21]:
books.sample(25)

,text_reviews_count,series,popular_shelves,average_rating,similar_books,description,authors,num_pages,publication_year,ratings_count,title,title_without_series
book_id,,,,,,,,,,,,
6690995,12,[293097],"[{'count': '33', 'name': 'manga'}, {'count': '...",4.15,"[3274605, 1121118, 3259434, 9724683, 13183494,...",In the midst of the climactic confrontation be...,"[{'author_id': '2339572', 'role': ''}, {'autho...",192,2010,335,"Nabari No Ou, Vol. 4 (Nabari No Ou, #4)","Nabari No Ou, Vol. 4 (Nabari No Ou, #4)"
29775744,13,"[1115280, 938228]","[{'count': '68', 'name': 'to-read'}, {'count':...",3.30,[],Civil War IItie-in!\nDeadpool and the Mercs fo...,"[{'author_id': '594966', 'role': 'Writer'}, {'...",136,2017,160,"Deadpool: World's Greatest, Volume 5: Civil Wa...","Deadpool: World's Greatest, Volume 5: Civil Wa..."
17262720,61,[238778],"[{'count': '11', 'name': 'to-read'}, {'count':...",4.07,"[12952129, 26239, 17133269, 16173091]",In this first of two collections of short stor...,"[{'author_id': '117369', 'role': ''}]",200,2013,493,"Pretty Guardian Sailor Moon Short Stories, Vol...","Pretty Guardian Sailor Moon Short Stories, Vol..."
25264699,12,"[789273, 789262]","[{'count': '98', 'name': 'to-read'}, {'count':...",3.60,[],The writer of the Tomb Raider 2013 video game-...,"[{'author_id': '2824486', 'role': 'Writer'}, {...",144,2015,116,Tomb Raider Volume 3: Queen of Serpents,Tomb Raider Volume 3: Queen of Serpents
15644581,13,[819988],"[{'count': '56', 'name': 'to-read'}, {'count':...",4.31,"[9465043, 11040918, 16002491, 16046137, 666144...",Order of Tales is an atmospheric fantasy adven...,"[{'author_id': '1259595', 'role': ''}]",792,2012,157,Order of Tales,Order of Tales
21546375,13,[689812],"[{'count': '213', 'name': 'to-read'}, {'count'...",3.96,"[12376075, 25241923, 9177289, 26025705, 214081...","No matter how much the times change, bullied k...","[{'author_id': '5529995', 'role': ''}, {'autho...",192,2014,172,"Accel World Manga, Vol. 1 (Accel World Manga, #1)","Accel World Manga, Vol. 1 (Accel World Manga, #1)"
27881772,9,[849154],"[{'count': '18', 'name': 'to-read'}, {'count':...",4.13,[],"Huck takes his mission across the country, hel...","[{'author_id': '12736', 'role': ''}]",,2016,80,Huck #3,Huck #3
23475289,1,[1122387],"[{'count': '4', 'name': 'comics'}, {'count': '...",3.69,[],"""The Men of Tomorrow"" Part 4! Superman and Uly...","[{'author_id': '10305', 'role': ''}, {'author_...",,,16,Superman #35,Superman #35
30896678,11,[],"[{'count': '280', 'name': 'to-read'}, {'count'...",3.03,[],When Tomas Ramirez stumbles upon an extraterre...,"[{'author_id': '28055', 'role': ''}, {'author_...",136,2016,32,The Saviors,The Saviors
17885846,4,[],"[{'count': '13', 'name': 'to-read'}, {'count':...",4.17,[],In the latest installment of the greatest love...,"[{'author_id': '38790', 'role': ''}, {'author_...",32,2012,34,Henry & Glenn Forever & Ever (#2),Henry & Glenn Forever & Ever (#2)
18890126,3,"[382430, 482446, 564160]","[{'count': '647', 'name': 'to-read'}, {'count'...",4.16,"[10997645, 10837197, 13228403, 9408670, 121047...",#1 New York Times BestsellerThe villainous Ban...,"[{'author_id': '28709', 'role': ''}]",,,188,"Batman: Knightfall, Vol. 1","Batman: Knightfall, Vol. 1"
20060886,4,"[778454, 1136484]","[{'count': '1088', 'name': 'to-read'}, {'count...",3.91,"[22055284, 17671987, 17884046, 23278618, 17834...","In his hometown of Central City, The Flash--a....","[{'author_id': '184607', 'role': ''}, {'author...",,,62,"The Flash, Vol. 3: Gorilla Warfare","The Flash, Vol. 3: Gorilla Warfare"
573779,8,[361444],"[{'count': '38', 'name': 'to-read'}, {'count':...",3.85,[],The Concept: Fourteen-year-old Chance Falconer...,"[{'author_id': '8314502', 'role': ''}, {'autho...",112,2003,118,Leave It To Chance Book 2: Trick Or Threat,Leave It To Chance Book 2: Trick Or Threat
22129926,121,[836199],"[{'count': '864', 'name': 'to-read'}, {'count'...",4.39,"[12267795, 17182526, 23222368, 15803077, 17857...",Rick's treaty with Negan and the Saviors is pu...,"[{'author_id': '12425', 'role': 'Scriptwriter'...",304,2014,2054,"The Walking Dead, Book Ten (The Walking Dead #...","The Walking Dead, Book Ten (The Walking Dead #..."
1178111,2,[],"[{'count': '13', 'name': 'to-read'}, {'count':...",3.22,[],"Illustrated, comic book format.\nTranslated by...","[{'author_id': '574737', 'role': ''}, {'author...",64,1997,9,Cyrano De Bergerac,Cyrano De Bergerac
29347892,4,[],"[{'count': '6', 'name': 'to-read'}, {'count': ...",4.33,[],The ferocious finale of the conquest of Hel as...,"[{'author_id': '7265145', 'role': ''}, {'autho...",28,2016,30,Angela: Queen of Hel #5,Angela: Queen of Hel #5
18361516,167,"[534722, 676777]","[{'count': '786', 'name': 'to-read'}, {'count'...",3.36,"[18275594, 17137611, 23862438, 20176657, 22079...",The worlds of Fablesand The Unwrittencollide i...,"[{'author_id': '9018', 'role': 'Writer'}, {'au...",144,2014,1127,"The Unwritten, Vol. 9: The Unwritten Fables","The Unwritten, Vol. 9: The Unwritten Fables"
28114503,39,[996811],"[{'count': '145', 'name': 'to-read'}, {'count'...",3.70,[],"""There's something thrilling about seeing peop...","[{'author_id': '56952', 'role': 'Editor'}, {'a...",400,2016,215,The Best American Comics 2016,The Best American Comics 2016
27246314,4,[1126031],"[{'count': '14', 'name': 'comics'}, {'count': ...",3.94,[],Cassandra Cain is Grayson's only lead in solvi...,"[{'author_id': '6852949', 'role': ''}, {'autho...",,,62,Batman & Robin Eternal #3,Batman & Robin Eternal #3
1440199,6,[363198],"[{'count': '32', 'name': 'manga'}, {'count': '...",3.68,[],,"[{'author_id': '323708', 'role': ''}]",,2004,63,Et Cetera: Vol. 1,Et Cetera: Vol. 1
25157476,1,[720570],"[{'count': '164', 'name': 'manga'}, {'count': ...",4.26,"[15794272, 25236851, 20705918, 20560648, 17729...","New York Times best selling, multi-arc, charac...","[{'author_id': '408864', 'role': ''}]",,,3,"Claymore, Vol. 25: Sword of the Dark Deep","Claymore, Vol. 25: Sword of the Dark Deep"
962112,26,"[354596, 482756]","[{'count': '166', 'name': 'to-read'}, {'count'...",4.29,"[7860101, 16002099, 6641172, 106034, 105900, 5...",Uber-gangster Nicky Cavella is back with a ven...,"[{'author_id': '14965', 'role': ''}, {'author_...",144,2006,1177,"The Punisher MAX, Vol. 4: Up is Down and Black...","The Punisher MAX, Vol. 4: Up is Down and Black..."
223208,5,[361081],"[{'count': '21', 'name': 'to-read'}, {'count':...",3.93,[],Series Description: So just what is with this ...,"[{'author_id': '130617', 'role': ''}]",128,2003,44,"Short Cuts, Volume 2","Short Cuts, Volume 2"
18932652,5,[599219],"[{'count': '19', 'name': 'to-read'}, {'count':...",4.12,[],"Take a trip back over the rainbow, to an Oz yo...","[{'author_id': '237095', 'role': 'writer'}, {'...",160,2013,17,The Legend of Oz: The Wicked West Vol. Three: ...,The Legend of Oz: The Wicked West Vol. Three: ...
24611511,1,[],"[{'count': '1', 'name': 'x-men-comics'}, {'cou...",4.00,[],,"[{'author_id': '15091', 'role': ''}, {'author_...",26,2009,3,X-Men Forever #11 - Black Magik part 1,X-Men Forever #11 - Black Magik part 1

In [22]:
books.title.value_counts()

Watchmen                            11
Batman: The Dark Knight Returns      9
Batman: Year One                     8
Fun Home: A Family Tragicomic        7
Kingdom Come                         7
                                    ..
Darkman Vs. Army of Darkness         1
Fairy Tail, Vol. 07                  1
Low #10                              1
Batman #52                           1
Patsy Walker, A.K.A. Hellcat! #8     1
Name: title, Length: 31523, dtype: int64

In [23]:
books.title_without_series.value_counts()

Watchmen                            11
Batman: The Dark Knight Returns      9
Batman: Year One                     8
Fun Home: A Family Tragicomic        7
Kingdom Come                         7
                                    ..
Darkman Vs. Army of Darkness         1
Fairy Tail, Vol. 07                  1
Low #10                              1
Batman #52                           1
Patsy Walker, A.K.A. Hellcat! #8     1
Name: title_without_series, Length: 31523, dtype: int64

In [24]:
# These seem basically identical. Will drop the title_without_series.
books.drop('title_without_series',inplace=True,axis=1)

<b>Authors</b>
It looks like authors column is a list of dictionaries where each dictionary in the list contains author_id and role for each of the authors on the book.

In [25]:
books.head()

,text_reviews_count,series,popular_shelves,average_rating,similar_books,description,authors,num_pages,publication_year,ratings_count,title
book_id,,,,,,,,,,,
13571772,5,"[246830, 362583, 362581, 623032]","[{'count': '493', 'name': 'to-read'}, {'count'...",4.28,"[13590139, 105963, 207585, 10503130, 4645370, ...",The questions plaguing Captain America's dream...,"[{'author_id': '37450', 'role': ''}]",146,2012,51,Captain America: Winter Soldier (The Ultimate ...
35452242,1,[],"[{'count': '222', 'name': 'to-read'}, {'count'...",4.05,[],The fight for Jason Delgado's life and soul be...,"[{'author_id': '16209952', 'role': ''}, {'auth...",,,6,Bounty Hunter 4/3: My Life in Combat from Mari...
707611,6,"[266759, 1096220]","[{'count': '20', 'name': 'to-read'}, {'count':...",4.06,[],These are the stories that catapulted Superman...,"[{'author_id': '81563', 'role': ''}, {'author_...",272,1997,51,"Superman Archives, Vol. 2"
27036536,9,[834955],"[{'count': '47', 'name': 'to-read'}, {'count':...",4.15,[],PRODUCT DESCRIPTION: The first new volume of G...,"[{'author_id': '14965', 'role': ''}, {'author_...",224,2016,39,"War Stories, Volume 3"
11827783,26,[774390],"[{'count': '104', 'name': 'to-read'}, {'count'...",3.16,"[6651573, 8835785, 15060759, 9466897, 8423991,...",Sir Arthur Conan Doyle's dauntless detective r...,"[{'author_id': '61231', 'role': ''}, {'author_...",144,2011,114,Sherlock Holmes: Year One

My goal is to extract the authors and roles for the authors from each row. I can see if role is relevant...it looks like it's blank based on the head. If so, can discard that information and just keep a list of the authors.

In [26]:
# get a list of all the authors
authors = [[x.get('author_id') for x in d] for d in books.authors]

In [27]:
# Check that it worked
print(authors[:10])
print(len(authors))
print(len(books.authors))

[['37450'], ['16209952', '853385'], ['81563', '89537'], ['14965', '3188368', '131836', '7507599'], ['61231', '4980321'], ['294649'], ['311098'], ['12772', '12771'], ['130617'], ['5340891', '5340892', '7224524']]
33925
33925

In [28]:
# do the same for all the roles
roles = [[x.get('role') for x in d] for d in books.authors]

In [29]:
print(len(roles))
print(roles[:10])

33925
[[''], ['', ''], ['', 'Illustrator'], ['', 'Illustrations', 'Illustrations', ''], ['', 'Illustrator'], [''], [''], ['', 'Illustrator'], [''], ['', 'Illustrator', 'doujinshi circle']]

In [30]:
r = pd.Series(roles)
r.value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1652, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[]                                                                                                                                                                  10639
[, Illustrator]                                                                                                                                                      3874
[, ]                                                                                                                                                                 2121
[, Illustrator, Illustrator]                                                                                                                                         1426
[, Translator]                                                                                                                                                        725
                                                                                                                                                                    ...
[, Penciller, Illustrator, Inker, Illustrator, Variant Cover, Variant Cover]                                                                                            1
[Writer, Illustrator, Illustrator, Illustrator, Colorist]                                                                                                               1
[, , Penciler, Penciler, Inker, Inker]                                                                                                                                  1
[, Illustrator, , Illustrator, , Illustrator, , Illustrator, Illustrator]                                                                                               1
[, contributor, illustrator, illustrator, illustrator, illustrator, illustrator, illustrator, illustrator, illustrator, illustrator, illustrator, illustrator, ]        1
Length: 4054, dtype: int64

The roles information seems largely missing and/or irrelevant, so will leave that out. But authors could potentially add value.

In [31]:
books['authors'] = authors

In [32]:
books.head()

,text_reviews_count,series,popular_shelves,average_rating,similar_books,description,authors,num_pages,publication_year,ratings_count,title
book_id,,,,,,,,,,,
13571772,5,"[246830, 362583, 362581, 623032]","[{'count': '493', 'name': 'to-read'}, {'count'...",4.28,"[13590139, 105963, 207585, 10503130, 4645370, ...",The questions plaguing Captain America's dream...,[37450],146,2012,51,Captain America: Winter Soldier (The Ultimate ...
35452242,1,[],"[{'count': '222', 'name': 'to-read'}, {'count'...",4.05,[],The fight for Jason Delgado's life and soul be...,"[16209952, 853385]",,,6,Bounty Hunter 4/3: My Life in Combat from Mari...
707611,6,"[266759, 1096220]","[{'count': '20', 'name': 'to-read'}, {'count':...",4.06,[],These are the stories that catapulted Superman...,"[81563, 89537]",272,1997,51,"Superman Archives, Vol. 2"
27036536,9,[834955],"[{'count': '47', 'name': 'to-read'}, {'count':...",4.15,[],PRODUCT DESCRIPTION: The first new volume of G...,"[14965, 3188368, 131836, 7507599]",224,2016,39,"War Stories, Volume 3"
11827783,26,[774390],"[{'count': '104', 'name': 'to-read'}, {'count'...",3.16,"[6651573, 8835785, 15060759, 9466897, 8423991,...",Sir Arthur Conan Doyle's dauntless detective r...,"[61231, 4980321]",144,2011,114,Sherlock Holmes: Year One

<b>Series column:</b> It seems like this is a list of other books in the same series as the book at hand. Want to confirm.

After exploring documentation from the studies using this data. It appears these refer to a separate "series" dataset, not other books in the same series.

In [33]:
# confirm that the series numbers don't tie
# here is a book
books.loc[707611,:]

text_reviews_count                                                    6
series                                                [266759, 1096220]
popular_shelves       [{'count': '20', 'name': 'to-read'}, {'count':...
average_rating                                                     4.06
similar_books                                                        []
description           These are the stories that catapulted Superman...
authors                                                  [81563, 89537]
num_pages                                                           272
publication_year                                                   1997
ratings_count                                                        51
title                                         Superman Archives, Vol. 2
Name: 707611, dtype: object

In [34]:
# if we try to locate the book_id for one of the "series" records above, it doesn't exist
books.loc[266759]

KeyError: 266759

So it doesn't appear series is a list of other books in the same series. After reviewing the online docs from the study that gathered this data, it looks like series refers to a separate series_id in a different table of data. This isn't relevant to our current purposes.

In [35]:
books.drop('series',inplace=True, axis=1)

<b>Popular Shelves:</b>
This seems like it will be incorporated from the combining with the reviews dataset.

In [36]:
books.drop('popular_shelves', inplace=True, axis=1)

In [37]:
books.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33925 entries, 13571772 to 23363286
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   text_reviews_count  33925 non-null  int64
 1   average_rating      33925 non-null  float64
 2   similar_books       33925 non-null  object
 3   description         33925 non-null  object
 4   authors             33925 non-null  object
 5   num_pages           33925 non-null  object
 6   publication_year    33925 non-null  object
 7   ratings_count       33925 non-null  int64
 8   title               33925 non-null  object
dtypes: float64(1), int64(2), object(6)
memory usage: 3.8+ MB

In [53]:
books.to_csv('data/books_comics_cleaned.csv')

In [39]:
# Load and clean up reviews data
reviews = pd.read_json('data_raw\goodreads_reviews_comics_graphic.json', lines=True)

In [40]:
reviews.head()

,user_id,book_id,review_id,rating,review_text,date_added,date_updated,read_at,started_at,n_votes,n_comments
0,dc3763cdb9b2cae805882878eebb6a32,18471619,66b2ba840f9bd36d6d27f46136fe4772,3,Sherlock Holmes and the Vampires of London \n ...,Thu Dec 05 10:44:25 -0800 2013,Thu Dec 05 10:45:15 -0800 2013,Tue Nov 05 00:00:00 -0800 2013,,0,0
1,bafc2d50014200cda7cb2b6acd60cd73,6315584,72f1229aba5a88f9e72f0dcdc007dd22,4,"I've never really liked Spider-Man. I am, howe...",Wed Aug 10 06:06:48 -0700 2016,Fri Aug 12 08:49:54 -0700 2016,Fri Aug 12 08:49:54 -0700 2016,Wed Aug 10 00:00:00 -0700 2016,0,0
2,bafc2d50014200cda7cb2b6acd60cd73,29847729,a75309355f8662caaa5e2c92ab693d3f,4,"A very quick introduction, this is coming out ...",Thu Apr 21 07:44:00 -0700 2016,Thu Apr 21 07:59:28 -0700 2016,Thu Apr 21 07:59:28 -0700 2016,Thu Apr 21 00:00:00 -0700 2016,0,0
3,bafc2d50014200cda7cb2b6acd60cd73,18454118,c3cc5a3e1d6b6c9cf1c044f306c8e752,5,I've been waiting so long for this. I first st...,Mon Mar 03 17:45:56 -0800 2014,Mon Mar 03 17:54:11 -0800 2014,Sat Mar 01 00:00:00 -0800 2014,Sat Mar 01 00:00:00 -0800 2014,1,0
4,bafc2d50014200cda7cb2b6acd60cd73,2239435,cc444be37ab0a42bfb4dd818cb5edd10,4,The only thing more entertaining than this boo...,Wed Apr 03 12:37:48 -0700 2013,Wed Apr 03 13:03:36 -0700 2013,Wed Apr 03 13:03:36 -0700 2013,,0,0

In [41]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 542338 entries, 0 to 542337
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       542338 non-null  object
 1   book_id       542338 non-null  int64
 2   review_id     542338 non-null  object
 3   rating        542338 non-null  int64
 4   review_text   542338 non-null  object
 5   date_added    542338 non-null  object
 6   date_updated  542338 non-null  object
 7   read_at       542338 non-null  object
 8   started_at    542338 non-null  object
 9   n_votes       542338 non-null  int64
 10  n_comments    542338 non-null  int64
dtypes: int64(4), object(7)
memory usage: 45.5+ MB

In [42]:
reviews.drop(['date_updated','read_at','started_at','n_votes','n_comments'], inplace=True, axis=1)

In [43]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 542338 entries, 0 to 542337
Data columns (total 6 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   user_id      542338 non-null  object
 1   book_id      542338 non-null  int64
 2   review_id    542338 non-null  object
 3   rating       542338 non-null  int64
 4   review_text  542338 non-null  object
 5   date_added   542338 non-null  object
dtypes: int64(2), object(4)
memory usage: 24.8+ MB

In [44]:
# set 'review_id' as index
reviews.set_index('review_id',inplace=True)

In [52]:
reviews.to_csv('data/reviews_comics_cleaned.csv')

<b>Note - Interactions Data:</b><br>
This dataset also included an "interactions" data file that I thought would be helpful. I loaded in the interactions data, but that actually is redundent given the reviews/books datasets I've loaded. It just shows how users have interacted with different books (i.e. if they've reviewed or not). 

In looking at that data, I would just drop any combinations where the user hasn't read the book, because that provides no information. That means I would only keep the reviews, which is excatly what I have in the reviews dataframe I've got.

In [50]:
# Compress my data output files so they're under Github 100MB limit
import gzip
import shutil

with open('data/reviews_comics_cleaned.csv', 'rb') as f_in:
    with gzip.open('data/reviews_comics_cleaned.gz', 'wb') as f_out:
        shutil.copyfileobj(f_in, f_out)

In [51]:
with open('data/books_comics_cleaned.csv', 'rb') as f_in:
    with gzip.open('data/books_comics_cleaned.gz', 'wb') as f_out:
        shutil.copyfileobj(f_in, f_out)